*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat"
}

body{
background-color: black;
background-image: url(back.jpg);
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card{
  cursor: pointer;
  width: 420px;
  height:500px;

}
.front, .back{
   width: 100%;
   height: 100%;
   overflow:hidden;
   backface-visibility: hidden;
   position: absolute;
   transition: transform .6s linear;
 }

 .front img{
height: 100%;

 }
 .front{
   transform: perspective(600px) rotateY(0deg);
 }

.back{
  background:#f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color: black;
  text-align: center;
  width: 100%;

}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
.text{
  display: inline-block;
  height: 200px;
  width: 300px;
  font-size: 18px;
}
.text1{
  letter-spacing: 15px;
}
.cn{
  margin-top: 50%;
  width:auto;
  height:50px;
}
